@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

body {
    min-height: 100vh;
    background: linear-gradient(to right, #e2e2e2, #d2ffc1);
    color: #333;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    background: rgba(255, 255, 255, 0.3);        /* semi-transparent */
    backdrop-filter: blur(12px);                  /* blur effect */
    -webkit-backdrop-filter: blur(12px);          /* Safari support */
    box-shadow: 0 2px 10px rgba(0,0,0,0.07);      /* subtle shadow */
}

.menu {
    font-size: 2em;
    color: #fff;
    user-select: none;
}

.navigation a{
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}